/* 整体布局 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.chat-window {
  flex: 3;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 消息区
CSS 设置聊天消息区域固定高度,并允许垂直滚动溢出
*/
#chat-messages {
  height: 500px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;

}

#message-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#btn-message-send {
  width: 10%;
  margin-left: 20px;
}

/* 面板 */
.panels {
  flex: 1;
  width: 300px;
  flex-direction: column;
}

.config-panel,
.status-panel{
  height: 280px;
  padding: 20px;
  flex: 1;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.status-panel {
  margin-top: 20px;
}

/* 其他样式 */
button {
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0062cc;
}

.bot-message {
  background: #1AAD19;
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
  align-self: flex-end; 
  margin: 5px;
}

.user-message { 
  align-self: flex-start;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  background: #007bff;
  color: white;
  margin: 5px;
}